<div class="container mt-5">
    <h1 class="display-4">Ongoing Projects</h1>
    <div class="mt-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Angular JS
                <span class="badge badge-primary badge-pill">Hot Topic</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                React JS
                <span class="badge badge-primary badge-pill">Hot Topic</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Node JS
                <span class="badge badge-primary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                MongoDB
                <span class="badge badge-primary badge-pill"></span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                HTML5 & CSS3
                <span class="badge badge-primary badge-pill">Prerequisite</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Bootstrap 5
                <span class="badge badge-primary badge-pill"></span>
            </li>
        </ul>

    </div>
    <button class="btn btn-danger mt-2"><a routerLink="" class="link">Back to Table Data</a></button>
    
</div>

