/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
.jumbotron{
    color:white;
    background-color: rgb(5, 9, 71);
    height: 300px;
  }